<div >
<h3>Area Of Interest</h3>


  <ul class="list-group">
    <li class="list-group-item">HTML</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">bootstrap</li>
    <li class="list-group-item">Java</li>
    <li class="list-group-item">Python</li>
  </ul>

<h3>Hobbies</h3>  

<ul class="list-group">
  <li class="list-group-item">Reading books</li>
  <li class="list-group-item">CSS</li>
  <li class="list-group-item">bootstrap</li>
  <li class="list-group-item">Java</li>
  <li class="list-group-item">Python</li>
</ul>

<h3>Contact</h3>
<ul>
  <li>Phno:9994958370</li>
  <li>Email:jebinesh28@gmail.com</li>
  <li>41 Kokilam Nager<br>
  Thiyagarajanagar East<br>
Tirunelveli</li>
</ul>
</div>
<button class="btn btn-primary" (click)="previous()">prev</button>